In [1]:
import pandas as pd

In [58]:
# Goal: Separate peak align output file into different files based on the phasing of the nucleosome

peak_align_path = "/home/ubuntu/honors_research/peak_align/ucsc_snps_edited_TSS_all_adj+1Nuc_4_250bp_Output.cdt"
reference_bed = "/home/ubuntu/honors_research/peak_align/edited_TSS_all_adj+1Nuc_4_250bp.bed"

peak_align = pd.read_csv(peak_align_path, sep="\t")
reference = pd.read_csv(reference_bed, sep="\t", header=None)
reference

,0,1,2,3,4,5,6,7
0,chr1,21782324,21782574,chr1_21782449_21782449,5,+,-19,-3_AA_-2_-1_TA_0_1_CT_2_c_main_NDR_First_Diver...
1,chr16,68085623,68085873,chr16_68085748_68085748,16,+,-8,-3_CT_-2_-1_CG_0_1_AC_2_c_main_NDR_First_Diver...
2,chr1,148634164,148634414,chr1_148634289_148634289,5,-,40,-3_AT_-2_-1_TA_0_1_CT_2_c_main_NFR_First_Singl...
3,chr1,156747280,156747530,chr1_156747405_156747405,7,+,43,-3_AC_-2_-1_CA_0_1_CA_2_c_main_NFR_First_Diver...
4,chr1,172449824,172450074,chr1_172449949_172449949,10,-,40,-3_TC_-2_-1_CA_0_1_CT_2_c_main_NFR_First_Refer...
...,...,...,...,...,...,...,...,...
51311,chr18,57436251,57436501,chr18_57436376_57436376,126,+,967,-3_AA_-2_-1_CA_0_1_GA_2_c_main_NFR_First_Refer...
51312,chr19,37252741,37252991,chr19_37252866_37252866,5,+,988,-3_CC_-2_-1_CA_0_1_CG_2_c_main_NFR_First_Singl...
51313,chr8,1700302,1700552,chr8_1700427_1700427,7,-,1000,-3_CG_-2_-1_AG_0_1_GG_2_c_main_NFR_First_Diver...
51314,chr13,108214392,108214642,chr13_108214517_108214517,9,-,21,-3_GG_-2_-1_CA_0_1_TC_2_c_main_NDR_First_Diver...
51315,chr16,1154142,1154392,chr16_1154267_1154267,39,+,1160,-3_CT_-2_-1_CA_0_1_GC_2_c_main_NFR_First_Refer...

In [59]:
#Nuc2 to Nuc4 -> have to manually create phase column (split reference[5] by '_' and take last element)

reference.columns = ["chrom", "start", "end", "name", "number", "score", "numb2", "strand"]

phase = reference["strand"].str.split("_").str[-1]

#adding phase to the end of reference
reference["phase"] = phase

In [60]:

#reference.columns = ["chrom", "start", "end", "name", "score", "strand", "distance_to_nuc", "phase"]
peak_align = peak_align.drop(columns = "YORF")
peak_align

,NAME,0,1,2,3,4,5,6,7,8,...,240,241,242,243,244,245,246,247,248,249
0,chr1_21782449_21782449,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,chr16_68085748_68085748,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,chr1_148634289_148634289,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,chr1_156747405_156747405,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,chr1_172449949_172449949,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51311,chr18_57436376_57436376,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51312,chr19_37252866_37252866,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51313,chr8_1700427_1700427,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
51314,chr13_108214517_108214517,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
51315,chr16_1154267_1154267,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#peak_align.to_csv("/home/ubuntu/honors_research/peak_align/hg19/K562_PlusOneDyad_SORT-Expression_WithUnexpressed_500bp_Output_edited.cdt", )

In [61]:
#keep name and phase columns
reference_updated = reference[["name", "phase"]]

In [62]:

for i in range(len(reference_updated["phase"])):
    phase_name = reference_updated["phase"][i]
    phase_i = phase_name.find("phase")
    phase = phase_name[phase_i:]
    #print(phase)

    reference_updated.loc[i, "phase"] = phase

In [63]:
reference_updated

                            name       phase
0         chr1_21782449_21782449      phase0
1        chr16_68085748_68085748      phase0
2       chr1_148634289_148634289      phase0
3       chr1_156747405_156747405      phase0
4       chr1_172449949_172449949      phase0
...                          ...         ...
51311    chr18_57436376_57436376  phaseno10x
51312    chr19_37252866_37252866  phaseno10x
51313       chr8_1700427_1700427  phaseno10x
51314  chr13_108214517_108214517  phaseno10x
51315      chr16_1154267_1154267  phaseno10x

[51316 rows x 2 columns]

In [64]:
# separating the peak align file into different files based on the phasing of the nucleosome, using reference as the mapping
 
peak_align["phase"] = reference["phase"]
peak_align

#might need to add reference_updated name as separate column in peak_align

,NAME,0,1,2,3,4,5,6,7,8,...,241,242,243,244,245,246,247,248,249,phase
0,chr1_21782449_21782449,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,phase0
1,chr16_68085748_68085748,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,phase0
2,chr1_148634289_148634289,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,phase0
3,chr1_156747405_156747405,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,phase0
4,chr1_172449949_172449949,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,phase0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51311,chr18_57436376_57436376,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,phaseno10x
51312,chr19_37252866_37252866,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,phaseno10x
51313,chr8_1700427_1700427,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,phaseno10x
51314,chr13_108214517_108214517,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,phaseno10x
51315,chr16_1154267_1154267,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,phaseno10x

In [65]:
# Assuming 'peak_align' is your DataFrame and 'phase' is the column to group by
dataframes = {}

for phase_value, group in peak_align.groupby('phase'):
    dataframes[f"{phase_value}"] = group

phase0 = dataframes["phase0"].drop(columns = "phase")
phase1 = dataframes["phase1"].drop(columns = "phase")
phase2 = dataframes["phase2"].drop(columns = "phase")
phase3 = dataframes["phase3"].drop(columns = "phase")
phase4 = dataframes["phase4"].drop(columns = "phase")
phase5 = dataframes["phase5"].drop(columns = "phase")
phase6 = dataframes["phase6"].drop(columns = "phase")
phase7 = dataframes["phase7"].drop(columns = "phase")
phase8 = dataframes["phase8"].drop(columns = "phase")
phase9 = dataframes["phase9"].drop(columns = "phase")
phase10 = dataframes["phaseno10x"].drop(columns = "phase")

In [66]:
#Checking
sum = len(phase0) + len(phase1) + len(phase2) + len(phase3) + len(phase4) + len(phase5) + len(phase6) + len(phase7) + len(phase8) + len(phase9) + len(phase10)
print("Sum: " + str(sum))
print("Total original length: " + str(len(peak_align)))

Sum: 51316
Total original length: 51316

In [67]:
#Exporting

phase0.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase0_ucsc_4_250bp.cdt", sep="\t",index=False)
phase1.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase1_ucsc_4_250bp.cdt", sep="\t",index=False)
phase2.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase2_ucsc_4_250bp.cdt", sep="\t",index=False)
phase3.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase3_ucsc_4_250bp.cdt", sep="\t",index=False)
phase4.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase4_ucsc_4_250bp.cdt", sep="\t",index=False)
phase5.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase5_ucsc_4_250bp.cdt", sep="\t",index=False)
phase6.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase6_ucsc_4_250bp.cdt", sep="\t",index=False)
phase7.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase7_ucsc_4_250bp.cdt", sep="\t",index=False)
phase8.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase8_ucsc_4_250bp.cdt", sep="\t",index=False)
phase9.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase9_ucsc_4_250bp.cdt", sep="\t",index=False)
phase10.to_csv("/home/ubuntu/honors_research/peak_align/ucsc_muts/phase10_ucsc_4_250bp.cdt", sep="\t",index=False)