In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/home/ubuntu/honors_research/ucsc_snps/dbsnp153.tsv", on_bad_lines='skip', sep='\t')

In [4]:
df

,#chrom,chromStart,chromEnd,name,ref,altCount,alts,shiftBases,freqSourceCount,minorAlleleFreq,majorAllele,minorAllele,maxFuncImpact,class,ucscNotes,_dataOffset,_dataLen
0,chr1,10177,10179,rs367896724,CC,1,"CCC,",2,12,"0.425319,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-i...","CC,,,,,,,,,,,,","CCC,,,,,,,,,,,,",1986,delins,"commonSome,commonAll,overlapSameClass,overlapD...",44563241308,146
1,chr1,10352,10353,rs555500075,A,1,"AA,",1,12,"0.4375,-inf,-inf,-inf,-inf,0.00381679,-inf,-in...","A,,,,,A,,,,,,,","AA,,,,,AA,,,,,,,",1986,delins,"commonSome,rareSome,overlapSameClass,overlapDi...",49875040502,148
2,chr1,11007,11008,rs575272151,C,2,"G,T,",0,12,"0.0880591,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-...","C,,,,,,,,,,,,","G,,,,,,,,,,,,",1986,snv,"commonSome,commonAll,",52714401366,122
3,chr1,11011,11012,rs544419019,C,1,"G,",0,12,"0.0880591,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-...","C,,,,,,,,,,,,","G,,,,,,,,,,,,",1986,snv,"commonSome,commonAll,",48372599423,115
4,chr1,13109,13110,rs540538026,G,1,"A,",0,12,"0.0267572,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-...","G,,,,,,,,,,,,","A,,,,,,,,,,,,",1627,snv,"commonSome,commonAll,",47846128402,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15160910,chr16_KI270728v1_random,1152076,1152078,rs111673223,TT,3,"AAA,AAAAA,AAAAAA,",0,12,"0.0984425,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-...","AAAAAAAAAAA,,,,,,,,,,AAAAAAAAAAA,,","AAAAAAAAAAAA,,,,,,,,,,AAAAAAAAAAAA,,",1627,delins,"refIsMinor,commonSome,commonAll,refIsRare,refI...",5945813732,212
15160911,chr16_KI270728v1_random,1152230,1152231,rs113822894,T,1,"C,",0,12,"0.0505192,-inf,-inf,-inf,-inf,0.0423469,-inf,-...","T,,,,,T,,,,,,T,","C,,,,,C,,,,,,C,",1627,snv,"commonSome,commonAll,",6370982751,224
15160912,chr16_KI270728v1_random,1152276,1152277,rs148622797,A,1,"G,",0,12,"0.0179712,-inf,-inf,-inf,-inf,0.0338448,-inf,-...","A,,,,,A,,,A,A,A,A,","G,,,,,G,,,G,G,G,G,",1627,snv,"commonSome,commonAll,",38891833059,264
15160913,chr16_KI270728v1_random,1152278,1152279,rs1556513107,C,2,"A,T,",0,12,"0.1252,-inf,-inf,-inf,-inf,0.139949,-inf,-inf,...","C,,,,,C,,,,,C,,","A,,,,,A,,,,,A,,",1627,snv,"commonSome,commonAll,",40053109744,277
15160914,chr16_KI270728v1_random,1152320,1152321,rs74609981,G,1,"C,",0,12,"0.0483227,-inf,-inf,-inf,-inf,0.0411302,-inf,-...","C,,,,,C,,,,,,C,","G,,,,,G,,,,,,G,",1627,snv,"refIsMinor,commonSome,commonAll,",54723600157,269

In [4]:
df.columns

Index(['#chrom', 'chromStart', 'chromEnd', 'name', 'ref', 'altCount', 'alts',
       'shiftBases', 'freqSourceCount', 'minorAlleleFreq', 'majorAllele',
       'minorAllele', 'maxFuncImpact', 'class', 'ucscNotes', '_dataOffset',
       '_dataLen'],
      dtype='object')

In [9]:

df_filtered = df

#getting first 5 columns
df_filtered = df_filtered.iloc[:, :7]

#df_filtered = df_filtered.drop(columns=['name', 'altCount', "shiftBases", 'freqSourceCount', 'minorAlleleFreq', 'majorAllele',
       #'minorAllele', 'maxFuncImpact', 'class', 'ucscNotes', '_dataOffset',
       #'_dataLen'])

In [10]:
df_filtered

,#chrom,chromStart,chromEnd,name,ref,altCount,alts
0,chr1,10177,10179,rs367896724,CC,1,"CCC,"
1,chr1,10352,10353,rs555500075,A,1,"AA,"
2,chr1,11007,11008,rs575272151,C,2,"G,T,"
3,chr1,11011,11012,rs544419019,C,1,"G,"
4,chr1,13109,13110,rs540538026,G,1,"A,"
...,...,...,...,...,...,...,...
15160910,chr16_KI270728v1_random,1152076,1152078,rs111673223,TT,3,"AAA,AAAAA,AAAAAA,"
15160911,chr16_KI270728v1_random,1152230,1152231,rs113822894,T,1,"C,"
15160912,chr16_KI270728v1_random,1152276,1152277,rs148622797,A,1,"G,"
15160913,chr16_KI270728v1_random,1152278,1152279,rs1556513107,C,2,"A,T,"
15160914,chr16_KI270728v1_random,1152320,1152321,rs74609981,G,1,"C,"

In [11]:
# removing commas in alts
df_filtered['alts'] = df_filtered['alts'].str.replace(',', '', regex=False)
df_filtered

,#chrom,chromStart,chromEnd,name,ref,altCount,alts
0,chr1,10177,10179,rs367896724,CC,1,CCC
1,chr1,10352,10353,rs555500075,A,1,AA
2,chr1,11007,11008,rs575272151,C,2,GT
3,chr1,11011,11012,rs544419019,C,1,G
4,chr1,13109,13110,rs540538026,G,1,A
...,...,...,...,...,...,...,...
15160910,chr16_KI270728v1_random,1152076,1152078,rs111673223,TT,3,AAAAAAAAAAAAAA
15160911,chr16_KI270728v1_random,1152230,1152231,rs113822894,T,1,C
15160912,chr16_KI270728v1_random,1152276,1152277,rs148622797,A,1,G
15160913,chr16_KI270728v1_random,1152278,1152279,rs1556513107,C,2,AT
15160914,chr16_KI270728v1_random,1152320,1152321,rs74609981,G,1,C

In [12]:
# filtering out rows where ref or alt has length > 1
df_filtered = df_filtered[(df_filtered['ref'].str.len() == 1) & (df_filtered['alts'].str.len() == 1)]
df_filtered

,#chrom,chromStart,chromEnd,name,ref,altCount,alts
3,chr1,11011,11012,rs544419019,C,1,G
4,chr1,13109,13110,rs540538026,G,1,A
5,chr1,13115,13116,rs62635286,T,1,G
6,chr1,13117,13118,rs62028691,A,1,G
7,chr1,13272,13273,rs531730856,G,1,C
...,...,...,...,...,...,...,...
15160905,chr16_KI270728v1_random,1151491,1151492,rs113910518,T,1,G
15160908,chr16_KI270728v1_random,1152000,1152001,rs60254050,C,1,T
15160911,chr16_KI270728v1_random,1152230,1152231,rs113822894,T,1,C
15160912,chr16_KI270728v1_random,1152276,1152277,rs148622797,A,1,G
15160914,chr16_KI270728v1_random,1152320,1152321,rs74609981,G,1,C

In [13]:
# subtracting chromStart and chromEnd by 1
df_filtered['chromStart'] = df_filtered['chromStart'] - 1
df_filtered['chromEnd'] = df_filtered['chromEnd'] - 1

/tmp/ipykernel_2533071/615167761.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['chromStart'] = df_filtered['chromStart'] - 1
/tmp/ipykernel_2533071/615167761.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['chromEnd'] = df_filtered['chromEnd'] - 1

In [14]:
# if there are _ in chrom, take the first part (up until the first _)
df_filtered['#chrom'] = df_filtered['#chrom'].str.split('_').str[0]
df_filtered

/tmp/ipykernel_2533071/1876935299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['#chrom'] = df_filtered['#chrom'].str.split('_').str[0]

         #chrom  chromStart  chromEnd         name ref  altCount alts
3          chr1       11010     11011  rs544419019   C         1    G
4          chr1       13108     13109  rs540538026   G         1    A
5          chr1       13114     13115   rs62635286   T         1    G
6          chr1       13116     13117   rs62028691   A         1    G
7          chr1       13271     13272  rs531730856   G         1    C
...         ...         ...       ...          ...  ..       ...  ...
15160905  chr16     1151490   1151491  rs113910518   T         1    G
15160908  chr16     1151999   1152000   rs60254050   C         1    T
15160911  chr16     1152229   1152230  rs113822894   T         1    C
15160912  chr16     1152275   1152276  rs148622797   A         1    G
15160914  chr16     1152319   1152320   rs74609981   G         1    C

[10680329 rows x 7 columns]

In [15]:
#final df should have chrom, chromstart, chromend, ref, and alts
df_filtered = df_filtered[['#chrom', 'chromStart', 'chromEnd', 'ref', 'alts']]

In [11]:
#exporting as bed

df_filtered.to_csv("/home/ubuntu/honors_research/ucsc_snps/ucsc_snps.bed", index=False, header = False, sep='\t')